* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Arial";
}
@media (max-width: 460px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 460px) and (max-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  html {
    font-size: 21px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 25px;
  }
}
.navbar-toggle{
  border-color: #0B2DA8;
}
.navbar-toggle .icon-bar{
  border-color: #0B2DA8;
}

.header {
  position: relative;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}
.header .logo {
  float: left;
}
.header .logo img{
  margin-top: 5px;
}
.header .ul-lv1 {
  margin: 0;
  float: right;
}
.header .ul-lv1 .li-lv1 {
  position: relative;
  padding: 0 .85rem;
  float: left;
  font-size: .64rem;
  list-style: none;
  cursor: pointer;
}
.header .ul-lv1 .li-lv1:hover{
  background-color: #000;
  background: url('../images/sj-top.png') no-repeat center bottom;
}
.header .ul-lv1 .li-lv1>a {
  display: inline-block;
  padding: 30px 0;
  color: #1a1a1a;
  text-decoration: none;
}
.header .ul-lv1 .li-lv1>a img {
  width: 100%;
  max-width: 25px;
}
.header .ul-lv1 .li-lv1 .ul-lv2{
  position: absolute;
  display: none;
  text-align: center;
}
.header .ul-lv1 .act_li .ul-lv2{
  display: block;
  width: 100%;
  left: 0;
  background-color: rgba(255,255,255,0.2);
}
.header .ul-lv1 .li-lv1 .ul-lv2 .li-lv2{
  list-style: none;
}
.header .ul-lv1 .li-lv1 .ul-lv2 .li-lv2 a{
  padding: 10px 0;
  color: #1a1a1a;
}
.header .ul-lv1 .li-lv1 .ul-lv2 .li-lv2 a:hover{
  color: #999;
}
.header .ul-lv1 .act_li>a{
   color:#999;
}
.footer{
  padding-top: 3%;
  background-color: #506171;
}
.footer h3 a{
  font-size: .8rem;
  color: #e5e5e5;
  text-decoration: none;
}
.footer ul{
  margin: 0;
}
.footer li{
  padding: 5px 0;
  list-style: none;
}
.footer li a{
  font-size: .56rem;
  color: #b2b2b2;
  text-decoration: none;
}
.footer li a:hover{
  color: #fff;
}
.footer .footer_row2{
  padding-top: 1rem;
  text-align: center;
}
.footer .footer_row2 a{
  display: inline-block;
  padding: 0 .8rem;
}
.footer .coy{
  padding: 1rem 0;
  margin-top: 3%;
  text-align: center;
  font-size: .8rem;
  color: #4f6273;
  background-color: #FFFFFF;
}
.crumbs{
  position: relative;
  z-index: 2;
  margin-top: -50px;
  padding: 15px 0;
  font-size: 14px;
  color: #acbac6;
  background-color: rgba(98,116,130,0.8);
}
.crumbs a{
  padding: 0 5px;
  color: #acbac6;
  text-decoration: none; 
}
.crumbs a:hover{
  color: #fff;
}
.crumbs a:last-of-type{
  color: #fff;
}

.guide-line{
  padding: 10px 0;
  text-align: center;
}
.guide-line a{
  display: inline-block;
  margin: 5px 0;
  padding: 0 .6rem;
  font-size: .64rem;
  font-weight: bold;
  color: #4f6273;
  border-right: 2px solid #A3AAB2;
  text-decoration: none;
}
.guide-line a:hover{
  color: #ff6501;
}
.guide-line .act-a{
  color: #ff6501;
}
.guide-line a:last-of-type{
  border-color: transparent;
}
.page-box{
  margin: 15px auto;
  text-align: center;
  border: 1px solid #C8C8C8;
}
.page-box a{
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  line-height: 1.6rem;
  font-size: .64rem;
  font-family: "Microsoft YaHei";
  color: #333;
}
.page-box a:first-of-type{
  float:left;
  width: auto;
  margin-left: 10px;
}
.page-box a:last-of-type{
  float:right;
  width: auto;
  margin-right: 10px;
}
.page-box span{
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  line-height: 1.6rem;
  font-size: .64rem;
  font-family: "Microsoft YaHei";
  color: #fff;
  background-color: #FF6501;
}

.banner-assort img{
  max-width: 100%;
}


.banner img{
  max-width: 100%;
}

.section01{
  margin-bottom: 2rem;
}
.section01 .sec01-row1{
  padding: 1rem 15px;
  text-align: center;
  background-color: #506171;
}
.section01 .icon-box01{
  border-right: 1px solid #A2B5C6;
}
.section01 .icon-box01:last-of-type{
  border-right-color: transparent;
}
.section01 .sec01-row1 p{
  margin: .8rem 0 .2rem 0;
  line-height: 1.5;
  height: 2.42rem;
  font-size: .8rem;
  color: #fff;
}
.section01 .sec01-row1 hr{
  width: 1.8rem;
  border-width: 2px;
  margin: 0 auto;
}
.section01 .sec01-row2{
  margin-top: 3rem;
  text-align: center;
}
.section01 .sec01-row2 .sec01-text{
  text-align: left;
}
.section01 .sec01-row2 img{
  max-width: 100%;
}
.section01 .sec01-row2 span{
  font-size: .56rem;
  color: #999999;
}
.section01 .sec01-row2 h2{
  margin-top: 5px;
  font-size: 1.18rem;
}
.section01 .sec01-row2 hr{
  width: 2.5rem;
  border-width: 4px;
  border-color: #FF6501;
}
.section01 .sec01-row2 p{
  margin-bottom: 1.5rem;
  font-size: .8rem;
  color: #4f6273;
}
.section01 .sec01-row2 .sec01-abox{
  text-align: right;
}
.section01 .sec01-row2 a{
  display: inline-block;
  padding-right: 5px;
  font-size: .8rem;
  color: #0a2da8;
  text-decoration: none;
}

.section02{
  margin-bottom: 2rem;
}
.section02 .container{
  padding-bottom: 6%;
  border-bottom: 1px dotted #000;
}
.section02 .sec02-box{
  padding-bottom: .8rem;
  background-color: #EFF3F6;
  text-align: center;
}
.section02 .sec02-box img{
  max-width: 100%;
}
.section02 .sec02-text{
  padding: 0 .5rem;
  text-align: left;
}
.section02 .sec02-text h2{
  font-size: .8rem;
  color: #35414c;
}
.section02 .sec02-text p{
  font-size: .56rem;
  color: #35414c;
}
.section02 .sec02-abox{
  text-align: right;
}
.section02 .sec02-abox a{
  display: inline-block;
  padding-right: 3px;
  font-size: .64rem;
  color: #0a2da8;
  text-decoration: none;
}

.section03{
  margin-bottom: 2rem;
  text-align: center;
}
.section03 .sec03-row .col-sm-3{
  margin-bottom: .6rem;
}
@media (min-width: 768px){
  .section03 .sec03-container{
    padding-left: 8px;
    padding-right: 8px;
  }
  .section03 .sec03-row{
    margin-left: -8px;
    margin-right: -8px;
  }
  .section03 .col-sm-3{
    padding-left: 8px;
    padding-right: 8px;
  }
}
.section03 h2{
  font-size: 1.2rem;
  color: #35414c;
}
.section03 hr{
  margin: 0 auto 2rem auto;
  width: 2rem;
  border-color: #CDCDCD;
  border-width: 4px;
}
.section03 .sec03-box{
  position: relative;
  background-color: #EFF3F6;
  padding-bottom: .6rem;
  text-align: left;
  overflow: hidden;
}
.section03 .sec03-box .hover-img{
  position: absolute;
  top: -200px;
  left: 50%;
  margin-left: -37.5px;
  transition: all .3s;
}
.section03 .sec03-box:hover .hover-img{
  top:50%;
  margin-top:-37.5px;
}
.section03 .sec03-box img{
  max-width: 100%;
}
.section03 .sec03-box .h4-box{
  margin-bottom: 5px;
  height: 2.44rem;
  line-height: 2.44rem;
  border-bottom: 1px dashed #333;
  overflow: hidden;
}
.section03 .sec03-box .h4-box h4{
  display: inline-block;
  margin: 0;
  line-height: 1.4;
  font-size: .56rem;
  color: #4f6273;
  vertical-align: middle;
}
.section03 .sec03-text{
  padding: 2px .4rem .4rem .4rem;
}
.section03 .sec03-box .sec03-tip:before,.section03 .sec03-box .sec03-tip:after{
  content: '';
  display: table;
}
.section03 .sec03-box .sec03-tip:after{
  clear: both;
}
.section03 .sec03-box .sec03-tip span{
  font-size: .52rem;
  color: #808080;
}
.section03 .sec03-box .sec03-tip .tip-left{
  float: left;

}
.section03 .sec03-box .sec03-tip .tip-right{
  color: #ff6501;
  float: right;
  padding-left: 20px;
  background: url('../images/eye.png') no-repeat left center;
}
.section03 .sec03-text p{
  height: 3.15rem;
  line-height: 1.4;
  margin-top: .6rem;
  font-size: .56rem;
  color: #808080;
  overflow: hidden;
}

.section04{
  padding: 3rem 0;
  background-color: #EFF3F6;
}
.section04 img{
  max-width: 100%;
}
.section04 h2{
  margin-top: 0;
  font-size: 1.2rem;
  text-align: center;
  color: #35414c;
}
.section04 hr{
  margin: 1rem auto 2rem auto;
  width: 2rem;
  border-color: #0830A1;
  border-width: 4px;
}
.section04 .sec04-pbox{
  height: 2.3rem;
  line-height: 2.3rem;
  text-align: center;
  background-color: #fff;
}
.section04 .sec04-pbox p{
  display: inline-block;
  line-height: 1.4;
  font-size: .8rem;
  vertical-align: middle;
  color: #35414c;
}
.section04 .swiper-slide{
  padding: 0 7px;
}
.swiper-buttonbox{
  margin-bottom: 5px;
  position: relative;
  height: 1.4rem;
}
.swiper-buttonbox .swiper-btn{
  position: relative;
  margin-left: 10px;
  float: right;
  width: 1.4rem;
  height: 1.4rem;
  background-color: #0A2CA7;
  cursor: pointer;
}
.swiper-buttonbox .swiper-btn:before,.swiper-buttonbox .swiper-btn:after{
  content: '';
  position: absolute;
  border: .5rem solid transparent;
}
.swiper-buttonbox .index-study-prev:before{
  border-right-color: #fff;
  top: .18rem;
  left: -.1rem;
}
.swiper-buttonbox .index-study-prev:after{
  border-right-color: #0A2CA7;
  top: .18rem;
  left: 0;
}
.swiper-buttonbox .index-study-next:before{
  border-left-color: #fff;
  top: .18rem;
  right: -.1rem;
}
.swiper-buttonbox .index-study-next:after{
  border-left-color: #0A2CA7;
  top: .18rem;
  right: 1px;
}
.swiper-buttonbox .swiper-btn:hover{
  background-color: #DBDBDB;
}
.swiper-buttonbox .index-study-prev:hover:after{
  border-right-color: #DBDBDB;
}
.swiper-buttonbox .index-study-next:hover:after{
  border-left-color: #DBDBDB;
}


.overview{
  padding: 5% 0;
}
.overview h2{
  font-size: 2rem;
  font-weight: bold;
  font-family: "Arial";
  color: #4f6273;
}

.overview .h4-box{
  padding: .4rem 0 .4rem;
}
.overview .h4-box h4{
  font-size: .64rem;
  font-weight: bold;
  font-family: "Arial";
  color: #4f6273;
}
.overview .h4-box hr{
  width: 2rem;
  border: 2px solid #FF6505;
}
.overview .h4-box p{
  margin-bottom: .8rem;
  font-size: .64rem;
  font-family: "Arial";
  color: #999999;
}
.overview .overview-sec02{
  padding: 4% 0;
  background: url("../images/overview-bg1.jpg") no-repeat center;
  background-size: 100% 100%;
}
.overview .overview-sec02 h2{
  margin-bottom: 1.5rem;
  color: #fff;
}
.overview .overview-row{
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px dotted #ccc;
}
.overview .overview-row img{
  max-width: 100%;
}
.overview .overview-sec02 h2 span{
  color: #ff6600;
}
.overview .overview-sec02 p{
  margin-bottom: 1rem;
  font-size: .64rem;
  color: #e5e5e5;
}
.overview .overview-artical{
  padding-top: 4%;
}
.overview .overview-artical .overview-table{
  padding-left: 3%;
}
.overview .overview-artical h3{
  margin-top: 2.5rem;
  margin-bottom: .8rem;
  font-size: .88rem;
  font-weight: bold;
  font-family: "Arial";
  color: #dc5701;
}
.overview .overview-artical p{
  font-size: .64rem;
  font-family: "Arial";
  color: #666;
}
.overview .overview-artical .overview-abox{
  padding: 15px 0;
  text-align: right;
}
.overview .overview-artical .overview-abox a{
  display: inline-block;
  font-size: .64rem;
  font-weight: bold;
  color: #0a2da8;
  text-decoration: none;
}

.industries{
  padding: 5% 0;
}
.industries h2{
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Arial";
  color: #4f6273;
}
.industries p{
  margin: 1rem 0;
  font-size: .64rem;
  color: #999999;
}
.industries hr{
  width: 2.5rem;
  border: 2px solid #FF6505;
}
.industries ul{
  margin-bottom: 0;
}
.industries ul:before,.industries ul:after{
  content: '';
  display: table;
}
.industries ul:after{
  clear: both;
}
.industries .industries-title li{
  margin-right: 10px;
  padding: .8rem 1rem;
  float: left;
  font-size: .64rem;
  font-weight: bold;
  font-family: "Arial";
  list-style: none;
  color: #fff;
  background-color: #506171;
  cursor: pointer;
}
.industries .industries-title li.act-title{
  color: #4f6273;
  background-color: #FAFAFA;
}
.industries .industries-content{
  padding: .5rem 1rem 5% 1rem;
  background-color: #FAFAFA;
}
.industries .industries-content li{
  list-style: none;
  display: none;
}
.industries .industries-content li.act-li{
  display: block;
}
.industries .industries-content li p:first-of-type{
  font-weight: bold;
}
.industries .industries-sec02{
  padding-top: 4%;
}
.industries .industries-row{
  padding: 1rem 0;
}
.industries .industries-row img{
  max-width: 100%;
}
.industries .trademark{
  margin-bottom: .5rem;
}

.history{
  padding: 5% 0;
}
.history h2{
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Arial";
  color: #4f6273;
}
.history .history-row1{
  text-align: right;
}
.history .history-row1 img{
  margin-right: -56.5px;
}
.history .history-row2{
  position: relative;
  overflow: hidden;
}
.history .gray-bar{
  position: absolute;
  top: 5px;
  left: 257px;
}
.history .history-row2 h3{
  position: relative;
  font-size: .8rem;
  color: #9eafbf;
}
.history .history-row2 h3 span{
  color: #c5d1dc;
}
.history .history-row2 h3 img{
  position: absolute;
  top: -5px;
  right: -10px;
}
.history .history-year{
  text-align: center;
}

.studies{
  padding: 5% 0;
}
.studies h2{
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Arial";
  color: #4f6273;
}
.studies .guide-line{
  border-bottom: 1px dashed #666;
}
.studies .studies-row1{
  margin-top: 1rem;
}
.studies .studies-row1 img{
  max-width: 100%;
}
.studies .row1-box{
  margin-bottom: 30px;
}
.studies .studies-box{
  position: relative;
  overflow: hidden;
}
.studies .studies-box .studies-msg{
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  background-color: rgba(0,0,0,.3);
  transition: all .3s;
}
.studies .studies-box .studies-msg p{
  margin-top: 15%;
  font-size: .72rem;
  font-weight: bold;
  font-family: "Arial"
}
.studies .studies-box .studies-msg a{
  text-decoration: none;
}
.studies .studies-box .studies-msg h3{
  margin-top: .8rem;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Arial";
  color: #fff;
}
.studies .studies-box:hover .studies-msg{
  top: 0;
}
.studies .studies-sec02{
  padding-top: 4%;
}
.studies .studies-row2 img{
  max-width: 100%;
}
.studies .studies-row2{
  max-width: 100%;
}
.studies .trademark{
  margin-bottom: .5rem;
}

.service{
  padding: 5% 0;
}
.service h2{
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Arial";
  color: #4f6273;
}
.service ul li{
  position: relative;
  margin-bottom: 10px;
  padding: .5rem 0;
  list-style: none;
  background-color: #FAFAFA;
  border: 1px solid #E6E6E6;
}
.service ul li .close-btn{
  text-align: right;
}
.service ul li .close-btn img{
  position: absolute;
  cursor: pointer;
}
.service ul h3{
  margin-top: 5px;
  margin-left: 15px;
  padding: 15px  0 15px 65px;
  font-size: .72rem;
  color: #4c4c4c;
  background: url("../images/service-icon01.png") no-repeat left center;
}
.service ul li:nth-child(2) h3{
  background-image: url("../images/service-icon02.png");
}
.service ul li:nth-child(3) h3{
  background-image: url("../images/service-icon03.png");
}
.service ul li:nth-child(4) h3{
  background-image: url("../images/service-icon04.png");
}
.service .service-box{
  display: none;
  padding: 1rem 1rem .5rem 1rem;
}
.service .service-appear{
  display: block;
}
.service .service-box img{
  max-width: 100%;
}
.service .service-box h4{
  line-height: 1.8;
  font-size: .56rem;
  color: #666666;
}
.service .service-p{
  margin: 1.5rem 0;
}
.service .service-p p{
  font-size: .56rem;
  font-weight: bold;
  color: #666666;
}

.news{
  padding: 5% 0;
}
.news h2{
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Arial";
  color: #4f6273;
}
.news .news-container{
  margin: 2rem 0;
}
.news .news-row .col-sm-3{
  margin-bottom: .6rem;
}
@media (min-width: 768px){
  .news .news-container{
    padding-left: 8px;
    padding-right: 8px;
  }
  .news .news-row{
    margin-left: -8px;
    margin-right: -8px;
  }
  .news .col-sm-3{
    padding-left: 8px;
    padding-right: 8px;
  }
}
.news hr{
  margin: 0 auto 2rem auto;
  width: 2rem;
  border-color: #CDCDCD;
  border-width: 4px;
}
.news .news-box{
  position: relative;
  background-color: #EFF3F6;
  padding-bottom: .6rem;
  text-align: left;
  overflow:hidden;
}
.news .news-box .hover-img{
  position: absolute;
  top: -200px;
  left: 50%;
  margin-left: -37.5px;
  cursor: pointer;
  transition: all .3s;
}
.news .news-box:hover .hover-img{
  top: 8%;
}
.news .news-box img{
  max-width: 100%;
}
.news .news-box .h4-box{
  margin-bottom: 5px;
  height: 2.44rem;
  line-height: 2.44rem;
  border-bottom: 1px dashed #333;
  overflow: hidden;
}
.news .news-box .h4-box h4{
  display: inline-block;
  margin: 0;
  line-height: 1.4;
  font-size: .56rem;
  color: #4f6273;
  vertical-align: middle;
}
.news .news-text{
  padding: 2px .4rem .4rem .4rem;
}
.news .news-box .news-tip:before,.news .news-box .news-tip:after{
  content: '';
  display: table;
}
.news .news-box .news-tip:after{
  clear: both;
}
.news .news-box .news-tip span{
  font-size: .52rem;
  color: #808080;
}
.news .news-box .news-tip .tip-left{
  float: left;

}
.news .news-box .news-tip .tip-right{
  color: #ff6501;
  float: right;
  padding-left: 20px;
  background: url('../images/eye.png') no-repeat left center;
}
.news .news-text p{
  height: 3.15rem;
  line-height: 1.4;
  margin-top: .6rem;
  font-size: .56rem;
  color: #808080;
  overflow: hidden;
}

.download{
  padding: 5% 0;
}
.download h2{
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Arial";
  color: #4f6273;
}
.download img{
  max-width: 100%;
}
.download .download-row1,.download .download-row2{
  margin: 2rem 0;
}
.download .download-row1 img,.download .download-row2 img{
  display: block;
}
.download .download-text{
  padding: 10px .4rem;
  line-height: 2.2rem;
  background-color: #EFF3F6;
  overflow: hidden;
}
.download .download-text p{
  display: inline-block;
  margin-bottom: 0;
  text-align: left;
  line-height: 1.3;
  font-size: .56rem;
  vertical-align: middle;
  color: #4f6273;
}
.download .download-msg{
  position: relative;
  margin-bottom: 16px;
  text-align: center;
  overflow: hidden;
}
.download .download-msg .download-icon{
  position: absolute;
  top: -100%;
  left: 50%;
  margin-left: -37.5px;
  transition: all .3s;
}
.download .download-msg:hover .download-icon{
  top: 10%;
}
.download .download-row2 .download-msg{
  margin-bottom: 1.5rem;
}
.download .download-msg img{
  margin: 0 auto;
}
.download .download-row2 .download-text{
  margin-top: 1rem;
}
.download .row2-data{
  display: none;
}
.download .data2-box{
  display: none;
}
.download .act-data2 {
  display: block;
}
@media (min-width: 768px){
  .download .download-container{
    margin: 0 auto;
    max-width: 1170px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .download .download-row1 ,.download .download-row2{
    margin-left: -8px;
    margin-right: -8px;
  }
  .download .download-msg{
    padding-left: 8px;
    padding-right: 8px;
  }
}

.contact{
  padding: 5% 0 3% 0;
}
.contact h2{
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Arial";
  color: #4f6273;
}
.contact form{
  margin-bottom: 6%;
}
.contact form p{
  margin-bottom: 1.5rem;
  font-size: .56rem;
  font-family: "Microsoft YaHei";
  color: #4c4c4c;
}
.contact form input{
  display: block;
  margin-bottom: .5rem;
  padding: .2rem 5px;
  line-height: 1.4;
  font-size: .72rem;
  color: #333;
  width: 100%;
}
.contact form input[type=submit]{
  margin: 0 auto;
  padding: 8px 1.5rem;
  width: auto;
  font-size: .72rem;
  color: #fff;
  background-color: #0B2DA8;
  border: 1px solid #ccc;
}
.contact form textarea{
  padding: 5px;
  width: 100%;
  height: 5.728rem;
  font-size: .72rem;
}
.contact form .submit-line{
  margin: 1rem auto;
}
.contact .contact-msgline{
  padding: 4% 0;
  background-color: #4F6271;
}
.contact .contact-container{
  max-width: 900px;
}
.contact .contact-msgline h3{
  color: #fff;
  font-size: .72rem;
  font-weight: bold;
  font-family: "Microsoft YaHei";
}
.contact .contact-msgline hr{
  border-color: #7D909F;
  width: 80%;
}
.contact .contact-msgline p{
  font-size: .72rem;
  font-family: "Microsoft YaHei";
  color: #ccc;
}
.contact .contact-map{
  margin-bottom: 2rem;
}
.contact .contact-map img{
  max-width: 100%;
}
.contact .contact-container2{
  margin-top: 5%;
}
.contact .contact-container2 h3{
  font-size: .64rem;
  font-weight: bold;
  font-family: "Microsoft Yahei";
  color: #4c4c4c;
}
.contact .contact-container2 h4{
  font-size: .64rem;
  font-family: "Microsoft Yahei";
  color: #4c4c4c;
}
.contact .h-box{
  margin-bottom: 1.3rem;
}

.p-detial{
  padding: 5% 0 3% 0;
}
.p-detial h2{
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Arial";
  color: #4f6273;
}
.p-detial .p-line1 img{
  max-width: 100%;
}
.pdetial-swiper .swiper-pagination{
  text-align: left;
}
.pdetial-swiper .swiper-pagination-bullet-active{
  background: #fff;
}
.pdetial-swiper .pdetial-pagination span{
  width: 10px;
  height: 10px;
  border: 2px solid transparent;
}
.pdetial-swiper .pdetial-pagination span.swiper-pagination-bullet-active{
  width: 10px;
  height: 10px;
  border: 2px solid #FF6600;
}
.p-detial .line-msg h3{
  margin-top: 1.5rem;
  padding-bottom: .8rem;
  font-size: .64rem;
  font-weight: bold;
  color: #4f6273;
  border-bottom: 1px dashed #ccc;
}
.p-detial .line-msg .detial-title{
  text-align: right;
  font-size: .56rem;
  font-weight: bold;
  font-family: "Arial";
  color: #666;
}
.p-detial .line-msg .detial-text{
  text-align: left;
  font-size: .56rem;
  font-family: "Arial";
  color: #666;
}
.p-detial .p-line2 h3{
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  padding-bottom: .8rem;
  font-size: .64rem;
  font-weight: bold;
  color: #4f6273;
  border-bottom: 1px dashed #ccc;
}
.p-detial .detial-content img{
  max-width: 100%;
}

.case-detial{
  padding: 5% 0 3% 0;
}
.case-detial h2{
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Arial";
  color: #4f6273;
}
.case-detial .case-box h4{
  line-height: 1.8;
  font-size: .56rem;
  color: #666666;
}
.case-detial .case-p{
  margin: 1.5rem 0;
}
.case-detial .case-p p{
  font-size: .56rem;
  font-weight: bold;
  color: #666666;
}
.case-detial .casedetial-swiper{
  padding: 0 60px;
  margin-bottom: 1.5rem;
}
.case-detial .casedetial-swiper .swiper-button-white{
  background-color: #0B2DA8;
  width: 38px;
  height: 60px;
  margin-top: -30px;
}
.case-detial .case-content{
  padding: 4% 0;
  border-top: 1px dashed #ccc;
}

.news-detial{
  padding: 5% 0 3% 0;
}
.news-detial h2{
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Arial";
  color: #4f6273;
}
.news-detial h3{
  margin-bottom: .3rem;
  padding-bottom: 1rem;
  font-size: .96rem;
  font-weight: bold;
  font-family: "Microsoft YaHei";
  text-align: center;
  color: #333333;
  border-bottom: 1px dashed #ccc;
}
.news-detial .news-icon{
  text-align: center;
}
.news-detial .news-icon span:first-of-type{
  background: url(../images/eye.png) no-repeat left center;
  color: #ff6501;
}
.news-detial .news-icon span{
  display: inline-block;
  color: #373737;
  padding-left: 20px;
}
.news-detial .news-content{
  padding: 4% 0;
}
.news-detial .news-content img{
  max-width: 100%;
}



@media (min-width: 768px) {
  .col-5{
    float: left;
    width: 20%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 768px) {
  .header .ul-lv1{
    float: initial;
    margin-top: 85px;
    text-align: center;
  }
  .header .ul-lv1 .li-lv1{
    float: initial;
  }
  .header .ul-lv1 .li-lv1 .ul-lv2{
    position: initial;
    float:initial;
  }
  .history .history-row1 img{
    margin-right: 0;
  }
  .history .gray-bar{
    display: none;
  }
  .history .history-row2 h3 img{
    top: -10px;
    right: 0;
  }
  .service ul li .close-btn img{
    right: 0;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  
}
@media (min-width: 992px) and (max-width: 1200px) {
  
}
@media (min-width: 1200px) {
  
}

